.home-container {
    display: flex;
    width: 100%; 
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.home-content3 {
    display: flex;
    position: relative;
    width: 100% !important; 
    height: auto;
}

.home-content3-image {
    width: 100%;
    height: auto;
}

.home-content3-image-overlay {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.home-content3-text {
    font-family: 'IM Fell English SC', serif;
    color: white;
    font-size: 64px;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-right: 130px;
}


.home-content3-text h2{
    color: white;
    font-size: 48px;
}

.home-content3-text p{
    color: rgba(255,215,2,0.77);
    display: inline;
}

.home-content3-text h4{
    color: rgba(255,215,2,0.77);
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .home-container {
        overflow: hidden;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-content3-text {
        padding-right: 50px;
    }
    .home-content3-text h2{
        font-size: 20px;
    }
    .home-content3-text h4{
        font-size: 14px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .home-content3-text {
        padding-right: 50px;
    }
    .home-content3-text h2{
        font-size: 24px;
    }
    .home-content3-text h4{
        font-size: 16px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-content3-text {
        padding-right: 50px;
    }
    .home-content3-text h2{
        font-size: 22px;
    }
    .home-content3-text h4{
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home-content3-text {
        padding-right: 50px;
    }
    .home-content3-text h2{
        font-size: 24px;
    }
    .home-content3-text h4{
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .home-content3-text {
        padding-right: 150px;
    }
    .home-content3-text h2{
        font-size: 32px;
    }
    .home-content3-text h4{
        font-size: 20px;
    }
}