.footer-container{
    background-color: rgb(36, 36, 36);
    z-index: 999;
}

.footer-basic {
    padding:40px 0;
    /* background-color:#ffffff; */
    color:#6b6b6b;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .icon{
      color: white;
  }
  
  a > svg {
      display: block;
      margin:auto;
      justify-content: center;
      height: 100%;
  }

  .developer-container {
    display: flex;
    height: 30px;
    background-color:rgb(24, 24, 24);

}

.developer-info-div {
    flex:1;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    align-content: center;

}

.developer-info-div a {
    color: rgb(211, 210, 210);
    font-size: 12px;
    margin: auto 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


@media screen and (max-width: 768px) {
    .developer-info-div {
        margin-right: 5px;

    }
}